<p>todo works!</p>
<div *ngFor="let l of todo$|async">
    <h3>{{l.id}}</h3>
    <h3>{{l.title}}</h3>
    <p>Completed: {{l.completed}}</p>
</div>

<label for="todoId">Enter Todo ID:</label>
<input type="number" id="todoId" [(ngModel)]="todoId" />
<label for="todoTitle">Enter Todo Title:</label>
<input type="text" id="todoTitle" [(ngModel)]="todoTitle" />
<label for="todoCompleted">Is Completed:</label>
<input type="checkbox" id="todoCompleted" [(ngModel)]="todoCompleted" />
<div>
    <button (click)="addtodo()">Load Todos</button>
</div>