@keyframes slideIn {
  from {  left :0px;
   background-color: brown;
  }
  to { left: 200px;
   background-color: aquamarine;
  }
}
.container {
  width: 300px;
  height: 200px;
  position: absolute;
  background-color: lightblue;
  animation-name: slideIn;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}
