.nav {
    background-color: lightgray;
    padding: 10px;
    display: flex;                 /* ⭐ key fix */
    align-items:center;           /* vertical alignment */
    gap: 20px;
    box-sizing: content-box;
  }

  
  
  img {
    height: 30px;
    display: flex;
    margin-left: 4%;
  }
  
  /* search box */
  .search {
    display: flex;
    gap: 5px;
    margin-left: auto;
  }
  
  .search input {
    padding: 5px;
  }
  
  .search button {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  
  /* links */
  .nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
   
  }
  .menu {
    display: flex;
    gap: 20px;
    margin-left: auto;   /* ⭐ key line */
  }
  /* dropdown button */
  .dropbtn {
    color: cadetblue;
    color: black;
    font-size: bold;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  /* dropdown container */
  .dropdown {
    position: relative;
  }
  
  /* dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* dropdown links */
  .dropdown-content a {
    padding: 12px 16px;
    display: block;
    color: black;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* show dropdown on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #b2f7b4;
  }

  
  