/* Full page center */
.form {
    min-height: 100vh;
    display: flex;
    justify-content: center;   /* horizontal */
    align-items: center;       /* vertical */
    background-color: #f2f2f2;
  }
  
  /* Form box */
  form {
   margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Labels */
  label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
  }
  
  /* Inputs */
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  /* Buttons */
  button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #1976d2;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #155fa0;
  }
  