/* *{
 background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29tbWVyY2V8ZW58MHx8MHx8fDA%3D&w=1000&q=80');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode:overlay;
  
}*/

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .product-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
  }
  
  .product-card img {
    height: 200px;
    object-fit: contain;
    width: 100%;
  }
  
  .price {
    font-weight: bold;
    color: green;
  }
  
  .category {
    font-size: 14px;
    color: gray;
  }
  
  button {
    margin-top: 10px;
    padding: 8px 12px;
    cursor: pointer;
  }
  