
/*flexbox container left side all divs
flexbox item divs inside the container
flexbox-direction:left to right (row) top to bottom(column) default
flexbox-direction: row-reverse right to left
*/

*/
*{
    text-align: center;
}

div{
    height: 100px;
    width: 300px;
    display: inline-block;
    border: 2px solid black;
   
}

.container{
    width: 800px;
    height: 700px;
    display: flex; /*flexbox container left side all divs */
   /* flex-direction: row-reverse; /*flexbox-direction:right to left */
    /* flex-direction: row; /*left to right (row) top to bottom(column) default */
    /* flex-direction: column; /*top to bottom*/
   /*  flex-direction:row ;
    justify-content:flex-start;/*left */
    /* justify-content: flex-end;/*right*/
    /* justify-content: center;
    justify-content: space-around;
    justify-content: space-between;*/
   /*  align-items: center; /*vertical alignment*/
   
    /* flex-wrap: wrap; /*multi-line*/
    /* align-content: flex-start;
    justify-content:space-evenly;
    flex-wrap: wrap;*/
    align-items: flex-start;
    
   
}

.item1{
    background-color: aquamarine;
    flex-grow: 3;
}
.item2{
    background-color: rgb(49, 73, 65);
    height: 200px;
    /*flex-shrink: 0;*/
    flex-grow: 2;
    /*align-self: flex-end;/*individual item vertical alignment*/
}
.item3{
    background-color: aquamarine;
}
.item4{
    background-color: aquamarine;
}
.item5{
    background-color: aquamarine;
}
.item6{
    align-items: flex-end;
    background-color: aquamarine;
}


.outer{
    height: 700px;
    width: 400px;
    background-color: blue;
    display: flex;
    align-items: center; /*vertical centering*/
    justify-content: center; /*horizontal centering*/
}
.inner{
    height: 200px;
    width: 200px;
    background-color: yellow;
    /*margin: auto;/*centered both vertically and horizontally*/
}
.navbar{
    height: 60px;
    width: 100%;
    background-color: rgb(14, 13, 13);
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
li{
   list-style: none;

}

@media screen and (max-width:600px){
    .container{
        flex-direction: column;
        align-items: center;
    }
    
}
@media screen and (width:600px){
    .container{
        flex-direction: column;
        align-items: center;
    }
    
}