<!--<app-header></app-header>
<app-categories></app-categories>
<app-cursole></app-cursole>
<app-products></app-products>
<app-bindings></app-bindings>
<app-directives></app-directives>
<app-footer></app-footer>-->
<app-bindings></app-bindings>
<app-directives></app-directives>
<router-outlet></router-outlet>
<app-body></app-body>
<app-todo></app-todo>
<app-conuter></app-conuter>
<app-employeecrud></app-employeecrud>
<app-directives></app-directives>
<app-piepes></app-piepes>
<app-parent></app-parent>
<app-observable></app-observable>
<app-hotobserable></app-hotobserable>
<app-signals></app-signals>
<app-form></app-form>
<app-form2></app-form2>
<app-footer></app-footer>