<div class="footer">
    <p class="copy">&copy; 2024 PaddyFarm. All rights reserved.</p>

    <div class="contact">
        <p>
            <a href="mailto:info@paddyfarm.com">
                info&#64;paddyfarm.com
            </a>              
        </p>
        <p><a href="https://maps.app.goo.gl/wr9TE41tmtadrrNb9" target="_blank">Location</a></p>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3819.707300920895!2d80.27145267367372!3d16.791231819708337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a35a50048b20805%3A0xbd6b43fd979d631c!2sMudupuchettu%20center!5e0!3m2!1sen!2sin!4v1767602392024!5m2!1sen!2sin" width="150" height="100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
