.form{
    display: flex;
    flex-direction:column;
    width: 300px;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    border: 2px solid #ccc;
    height: 400px;
}