<!--<body>
<h1>Hello</h1>
<h2>H2 tag</h2>
<h6>h1 to h6 headigns</h6>
<p>This is a paragraph in the footer component.</p>
<a href="https://www.w3schools.com/html/html_basic.asp">Html basics</a>
<br>
<p style="color: red;">This is a <br> paragraph with a line break.</p>
<img src="https://www.w3schools.com/images/w3schools_green.jpg" width="100px" height="100px" alt="W3Schools.com">

<h1>This is heading 1</h1>
<p>This is some text.</p>
<hr>
<h2>This is heading 2</h2>
<p>This is some other text.</p>
<hr>
<p [ngStyle]="10 % 2 == 0 ? {'color': 'red'} : {'color': 'blue'}">This heading</p>
<p [ngStyle]="10 % 2 != 0 ? {'color': 'red'} : {'color': 'blue'}">This heading</p>
<p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Hello</p>
<p style="font-size: 300%;">Hekekkk</p>
<p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;">Hello</p>
<p style="font-size: 300%; background-color: brown;">Hekekkk</p>

<b>Hello</b>
<br>
<strong>Hekekkk</strong>
<i>This text is italic</i>

<em>This text is emphasized</em>
<p>Do not forget to buy <mark>milk</mark> today.</p>
<p>My favorite color is <del>blue</del> red.</p>
<p>My favorite color is <del>blue</del> <ins>red</ins>.</p>
<p>This is <sub>subscripted</sub> text.</p>
<p>This is <sup>superscripted</sup> text.</p>
<mark>This one marked</mark>

<p>Here is a quote from WWF's website:</p>
<blockquote cite="http://www.worldwildlife.org/who/index.html">
For 60 years, WWF has worked to help people and nature thrive. As the world's leading conservation organization, WWF works in nearly 100 countries. At every level, we collaborate with people around the world to develop and deliver innovative solutions that protect communities, wildlife, and the places in which they live.
</blockquote>
<p>WWF's goal is to: <q>Build a future where people live in harmony with nature.</q></p>

<p>The <abbr title="World Health Organization">WHO</abbr> was founded in 1948.</p>

<address>
    Written by John Doe.<br>
    Visit us at:<br>
    Example.com<br>
    Box 564, Disneyland<br>
    USA
    </address>

    <p><cite>The Scream</cite> by Edvard Munch. Painted in 1893.</p>
    <bdo dir="rtl">This text will be written from right to left</bdo>
    <a href="https://www.w3schools.com/" target="_blank">Visit W3Schools!</a>
    <a href="mailto:someone@example.com">Send email</a>
    <a href="default.asp">
        <img src="smiley.gif" alt="HTML tutorial" style="width:42px;height:42px;">
        </a>
<br>

<a href="https://www.w3schools.com/" target="_self">Visit W3Schools!</a>
<a href="https://www.w3schools.com/" target="_parent">Visit W3Schools!</a>
<a href="https://www.w3schools.com/" target="_top">Visit W3Schools!</a>

<h2 id="C4">Chapter 4</h2>
<a href="#C4">Jump to Chapter 4</a>

<p><img src="smiley.gif" alt="Smiley face" style="float:right;width:42px;height:42px;">
    The image will float to the right of the text.</p>

    <img src="https://www.w3schools.com/html/workplace.jpg" alt="Workplace" usemap="#workmap">

<map name="workmap">
  <area shape="rect" coords="30,44,270,350" alt="Computer" href="computer.htm">
  <area shape="rect" coords="290,172,333,250" alt="Phone" href="phone.htm">
  <area shape="circle" coords="337,300,44" alt="Coffee" href="coffee.htm">
</map>
<br>
<picture>
    <source media="(min-width: 650px)" alt="broswer" srcset="https://www.w3schools.com/html/workplace.jpg">
    <source media="(min-width: 465px)" srcset="img_car.jpg">
    <img src="img_girl.jpg">
  </picture>

</body>

<table style="width: 100%;">
    <tr>
      <th colspan="2">Company</th>
      <th style="width:60%;">Contact</th>
      <th>Country</th>
    </tr>
    <tr style="height: 50%;">
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>Centro comercial Moctezuma</td>
      <td>Francisco Chang</td>
      <td>Mexico</td>
    </tr>
  </table>

  <table>
    <tr>
      <th>Name</th>
      <td>Jill</td>
    </tr>
    <tr>
      <th rowspan="2">Phone</th>
      <td>555-1234</td>
    </tr>
    <tr>
      <td>555-8745</td>
  </tr>
  </table>
  

  <ul>
    <li>Coffee</li>
    <li>Tea</li>
    <li>Milk</li>
  </ul>

  <ul style="list-style-type:disc;">
    <li>Coffee</li>
    <li>Tea</li>
    <li>Milk</li>
  </ul>

  <ol>
    <li>Coffee</li>
    <li>Tea</li>
    <li>Milk</li>
  </ol>

  <ol type="A">
    <li>Coffee</li>
    <li>Tea</li>
    <li>Milk</li>
  </ol>

  <dl>
    <dt>Coffee</dt>
    <dd>- black hot drink</dd>
    <dt>Milk</dt>
    <dd>- white cold drink</dd>
  </dl>

  <p>My mother has <span style="color:blue;font-weight:bold;">blue</span> eyes and my father has 
    <span style="color:darkolivegreen;font-weight:bold;">dark green</span> eyes.</p>


    <iframe src="http://localhost:4200" title="description" height="200" width="300" title="Iframe Example"></iframe>
    <iframe src="http://localhost:4200" name="iframe_a" title="Iframe Example"></iframe>
    <aside>
      <h4>This is an aside</h4>
      <p>This content is tangentially related to the content around the aside element, and could be considered separate from that content.</p>

      <label for="cars">Choose a car:</label>
<select id="cars" name="cars" size="4" multiple>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="fiat">Fiat</option>
  <option value="audi">Audi</option>
</select>

<h1 id="id1">Borders</h1>
<h1 id="id2">Systesls 1</h1>
<h1 id="id3">Border 4</h1>
<h1 id="id4">Systesls 4</h1>
<h1 id="id5">Margins</h1>

<div id="id6">
    <h1>Padding</h1>
    <h1>Boxing</h1>
    <textarea>
This is a text area.jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjbiulllllllllllllllllllllllllllllllllllllllllllllll
llllllllllllllllllllllllllllllllllllllllllllllllllllllllll
    </textarea>
</div>

<div id="id7">
    This has position: relative, and is skewed 30 px to the right of its normal position
    <h1>Positioning</h1>
</div>


<h2>Using position: sticky;</h2>

<p>Try to scroll this page to understand how sticky works.</p>

<p>Here, when the sticky element reach the top of the page (top: 0), it sticks to this position!</p>

<div class="sticky">I have position sticky!</div>

<div style="padding-bottom:2000px">
<p>Scroll back up to remove the stickyness!</p>
<p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
<p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
<p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
</div> 


<div class="broders">
    Broders css
</div>
<p>This property can have one of the following values:

    left - Aligns the text to the left
    right - Aligns the text to the right
    center - Centers the text
    justify - Stretches the lines so that each line has equal width
    The following example shows left, right and center aligned text (left is default if text direction is left-to-right, and right is default if text direction is right-to-left):
 </p>

 <a href="#">Moude hover</a>

 <div class="main">
    <div class="child">
        Block 1
    </div>
    <div class="child">
        Block 2
    </div>
    <div class="child">
        Block 3
    </div>
 </div>

 -->