<p>todo works!</p>

<div *ngFor="let t of todo$|async">
    <h3>id:{{t.id}}</h3>
    <p>name: {{t.name}}</p>
    <button (click)="deletetodo(t)">Delete</button>
</div>
<form #myform="ngForm" (ngSubmit)="addTodo(myform.value)">
    <input name="id" type="number" ngModel placeholder="Title" required />
    <input name="name" type="text" ngModel placeholder="Name" required />
    <button type="submit" [disabled]="myform.invalid">Add Todo</button>
</form>
<hr/>
<h2>Employee Data</h2>
<div *ngFor="let emp of empList">
    <h3>Id: {{emp.id}}</h3>
    <p>Name: {{emp.firstName}}</p>
    <p>Age: {{emp.lastName}}</p>
</div>
<button (click)="getdata()" >getdata</button>
empdata

<h2>Employee Data</h2>
<div *ngFor="let emp of empdata|async">
    <h3>Id: {{emp.id}}</h3>
    <p>Name: {{emp.firstName}}</p>
    <p>Age: {{emp.lastName}}</p>
</div>
<form #myform="ngForm" (submit)="addempss(myform.value)">
    <input name="id" type="number" [(ngModel)]="id" ngModel placeholder="Id" required />
    <input name="firstName" type="text"  [(ngModel)]="firstName" ngModel placeholder="First Name" required />
    <input name="lastName" type="text" [(ngModel)]="lastName" ngModel placeholder="Last Name" required />
    <button type="submit" >Add Employee</button>
</form>