<div class="container my-4">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">

        <!-- Product Card -->
        <div class="col" *ngFor="let prod of products">
            <div class="card h-100">
                <img height="50%"[src]=prod.image class="card-img-top" alt="Product">
                <div class="card-body">
                    <h5 class="card-title">{{prod.title}}</h5>
                    <p class="card-text text-muted">{{prod.category}}</p>
                    <p class="mb-0">{{prod.rating.rate}}</p>
                    <button class="btn btn-primary mt-2" (click)="viewProduct(prod.id)">View Details</button>
                </div>
            </div>
        </div>


    </div>
</div>
