<div class="nav">
    <ul class="nav-list">

        <li class="logo">
            <img id="logo"
                 src="https://img.freepik.com/premium-vector/paddy-icon-logo-vector-design-template_827767-2940.jpg?w=2000"
                 alt="Logo">
        </li>

        <li class="search-box">
            <input type="search" placeholder="Search">
            <a href="#">
                <img id="search"
                     src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-vector-search-icon-png-image_3783210.jpg"
                     alt="Search">
            </a>
        </li>

        <!-- options wrapped in LI -->
        <li class="options">
            <a href="#">Home</a>
            <a href="#">Login</a>
            <a href="#">Logout</a>
            <a href="#">Cart</a>
            <a href="#">Signing</a>
        </li>

    </ul>
</div>
