<!--<h1 style="color: #bbe400;">hello in line color</h1>
<h1>Hellode 2</h1>
<h1>Hellode 3</h1>
<h2>H2</h2>
<h3>h3</h3>
<button [ngClass]="isfalg ? 'allow':'not-allow'">click me</button>

<p [ngStyle]="{'color': 'blue', 'font-size.px': 20}">This is a styled paragraph.</p>

<button (click)="dark()">{{darkmode? 'Drak':'White'}}</button>
<div id="only">
<h1 id="left">text properites</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ducimus nesciunt laborum quidem animi placeat? Velit, odit incidunt aliquid possimus facere veniam a quae modi? Distinctio ab nobis a assumenda.</p>
</div>
<div id="second">
  <h1 id="left">text properites</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ducimus nesciunt laborum quidem animi placeat? Velit, odit incidunt aliquid possimus facere veniam a quae modi? Distinctio ab nobis a assumenda.</p>
</div>
<a href="">Click Me</a>

<div id="box">
  <p>Box Model</p>
</div>

<div id="main">
<div class="child">1</div>
<div class="child">2</div>
<div class="child">3</div>
</div>

<img src="https://tse4.mm.bing.net/th/id/OIP.IeLaYHRAENpV4P0GIVhkDQHaG9?rs=1&pid=ImgDetMain&o=7&rm=3" alt="">

<div class="navbar">
  <a href="">amazon</a>
  <a href="">Account</a>
  <a href="">Mycart</a>
  <a href="">Services</a>
  <input type="text" placeholder="search here">
</div> -->
<h1>MAin</h1>
<app-navbar></app-navbar>
<!--<app-lelvel3></app-lelvel3> -->
<app-flexbox></app-flexbox>
<app-animation></app-animation>
<app-binding></app-binding>