<app-header (Event_emit)="search($event)"></app-header> 
<app-categories></app-categories>
<app-cursole></app-cursole>
<h1>NGRX {{conuter$|async}}</h1>
<ng-container *ngIf="weather && weather.length">
<table border="1" cellpadding="5" cellspacing="0">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temperature (°C)</th>
      <th>Temperature (°F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let w of weather; trackBy: track">
    <tr>
      <td>{{w.date}}</td>
      <td>{{w.temperatureC}}</td>
      <td>{{w.temperatureF}}</td>
      <td>{{w.summary}}</td>
    </tr>
    </ng-container>
  </tbody>
</table>
</ng-container>
<button (click)="getweather()">Get Weather Data</button>
<ng-container *ngIf="!weather || !weather.length">
  <p>No weather data available.</p>
</ng-container>
<ng-container *ngIf="erromessage">
  <p>{{erromessage}}</p>
</ng-container>
<div class="container mt-4">
  <h2 class="text-center mb-4">Products</h2>

  <!-- FILTER + SORT ROW -->
  <div class="row mb-3 justify-content-center">

    <!-- Category Select -->
    <div class="col-md-3">
      <select [(ngModel)]="selectedcategories" class="form-select" (change)='handelcahnges()'>
        <option *ngFor="let c of categories;trackBy: track" [value]="c">
          {{ c }}
        </option>
      </select>
    </div>
   

    <!-- Sort Buttons -->
    <div class="col-md-3 text-center">
      <button class="btn btn-primary me-2" (click)="sort('asc')">Asc</button>
      <button class="btn btn-secondary" (click)="sort('desc')">Desc</button>
    </div>

  </div>

  <!-- PRODUCT GRID -->
  <div class="row">
    <div class="col-md-3 mb-4"
         *ngFor="let item of filterdproducts | paginate: { itemsPerPage: 4, currentPage: p};trackBy: track">
      
      <div class="card amazon-card shadow-sm">
        <img [src]="item.image" class="card-img-top p-3 amazon-img" alt="product">

        <div class="card-body">
          <h6 class="text-muted">{{ item.category }}</h6>
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text small">{{ item.description }}</p>
          <p class="text-warning mb-1">★ {{ item.rate }}</p>
          <p class="text-danger fw-bold">₹{{ item.price }}</p>
          <button class="btn btn-info w-100 mb-2" [routerLink]="['/productsdeatils']" [queryParams]="{id:item.id}">View Details</button>
          <button class="btn btn-warning w-100">Add to Cart</button>
        </div>
      </div>

    </div>
  </div>

  <!-- PAGINATION -->
  <div class="d-flex justify-content-center mt-3">
    <pagination-controls
      (pageChange)="p = $event"
      class="my-pagination">
    </pagination-controls>
  </div>

</div>
<app-addproducts></app-addproducts>
