*{
    padding: 0;
    margin: 0;
    color: white;
}
#navbar{
    height: 60px;
    width: 100%;
    background-color: rgb(14, 13, 13);
    display: inline-flex;
}
.divlogo{
    margin-top: 10px;
    width: 20%;
    margin-left:5px ;
    width: 140px;
}

.serach{
    width: 40%;
    margin-top: 10px;
    text-align: center;
    justify-content: space-evenly;
}
.routers{
    margin-top: 10px;
    width: 60%;
    display: inline-flex;
    justify-content: space-evenly;
    
}



/*Dispaly property
display: block; //default for div, p, h1-h6, ul, ol, li
display: inline; //default for span, a, img
display: inline-block;
display: flex;
display: grid;
display: none;

button{
    background-color: rgb(234, 127, 13);
   
}
#logo{

    font-size: 25px;
    color:  rgb(234, 127, 13);
    margin-right:150px ;
    margin-top: 10px;
    margin-left: 15px;
}


input{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 50px;
}

button{
    margin-top: 10px;
    margin-right: 100px;
}

.routers{
    width: 300px;
    margin-top: 10px;
    display: inline-block;
    margin-left:310px ;
   
}

a{
    text-decoration: none  ;
}
.routers a{
    color: rgb(234, 127, 13);
    margin-left: 30px;
    font-size: 18px;
}

*/
/*
relative position

*/

.box1{
    width: 200px;
    height: 200px;
    background-color: lightseagreen;
    font-size: 10Px;

}
.box2{
    height: 100px;
    width: 100%;
    background-color: rgb(255, 115, 0);
    margin-left: 10%;
    font-size: 2em;/*relative to the parent element font size *2 double 20px*/
    width: 5em;/*relative to the parent element font size *5 50px*/
    width: 5rem;/*relative to the root element font size *5 80px*/
    /*height: 100vh;/*relative to the viewport height 100% of viewport height*/
}

/*position
how element is positioned
position:static; //default
position:relative; //relative to its normal position
position:absolute; //relative to the nearest positioned ancestor
position:fixed; //relative to the viewport
position:sticky; //relative to the nearest scrolling ancestor

*/