img{
    width: 90%;
    height: 200px;
    padding: 5px;
    background-size:cover;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    color: brown;
    font-size: 15px;
    height: 35px;
    overflow: hidden   ;
}
p {
    
    text-align: left;
    color: blue;
  
    white-space: nowrap;     /* required */
    overflow: hidden;        /* required */
    text-overflow: ellipsis; /* shows ... */
  }
  